{% extends "base.html" %}
	{% load markdown %}
	{% block content %}
		<div style="display: flex; flex-wrap: wrap;">
			<div style="max-width: 80%; flex: 80%">
				<h1 class="centered">{% if category %}{{category}}{% else %}All blog posts{% endif %}</h1>
				<ul>
					{% for post in post_list %}
					<h1><a href="{% url 'blog:blog_post' post.slug %}">{{ post.title }}</a></h1>
					<h4>{{ post.pub_date }} by {{post.posted_by.username}}</h4>
					<p class = "nocol">{{ post.md_data | shortdown | safe }}</p>
					<a href="{% url 'blog:blog_post' post.slug %}">Read more</a>
					{% endfor %}
				</ul>
			</div>
			<aside style="max-width: 20%; flex: 20%">
				<h1>Categories:</h1>
				{% for cat in categories %}
				<h3><a href="{% url 'blog:category_name' cat.slug %}">{{ cat.name }}</a></h3>
				{% endfor %}
			</aside>
		</div>
	{% endblock %}
