a {
    color: #ffafd7;
}

h1 {
    color: #4f97d7;
}

h2 {
    color: #2d9574;
}

h3 {
    color: #67b11d;
}

h4 {
    color: #b1951d;  
}

.pre-content {
    display: inline-block;
    margin: min(10px, 1vw);
    max-width: 100%;
    text-align: left;
    background-color: rgba(100, 100, 100, 0.1);
    backdrop-filter: blur(10px);
  box-shadow: 1px 1px 100px #260026;
}

.content {
    margin: 30px;
    max-width: max(60vw, 30cm);
    min-width: 60vw;
}

body {
    background-color: #0a0814;
    color: #b2b2b2;
    text-align: center;
}

.nobreak {
    word-break: keep-all;
}

.right {
    text-align: right;
}

.centered {
    text-align: center;
}

* {
    font-family: "Cascadia Code PL";
}

@font-face {
    font-family: "Cascadia Code PL";
    src: url(../CascadiaPL.ttf);
}

