
{% load compress %}
{% load static %}

{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/syntax.scss' %}">
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/style.scss' %}">
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/navbar.scss' %}">
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/logo.scss' %}">
{% endcompress %}

<div class="root">

	<div class="logo">
<p class="logo1">
<a href="/">██████╗ ██╗      █████╗ ███████╗   ██╗███████╗</a><br/>
<a href="/">██╔══██╗██║     ██╔══██╗╚══███╔╝   ██║██╔════╝</a><br/>
<a href="/">██████╔╝██║     ███████║  ███╔╝    ██║███████╗</a><br/>
<a href="/">██╔══██╗██║     ██╔══██║ ███╔╝     ██║╚════██║</a><br/>
<a href="/">██████╔╝███████╗██║  ██║███████╗██╗██║███████║</a><br/>
<a href="/">╚═════╝ ╚══════╝╚═╝  ╚═╝╚══════╝╚═╝╚═╝╚══════╝</a>
</p>
<pre class=logo2><a href="/">██████╗ ██╗      █████╗ ███████╗   ██╗███████╗</a>
<a href="/">██╔══██╗██║     ██╔══██╗╚══███╔╝   ██║██╔════╝</a>
<a href="/">██████╔╝██║     ███████║  ███╔╝    ██║███████╗</a>
<a href="/">██╔══██╗██║     ██╔══██║ ███╔╝     ██║╚════██║</a>
<a href="/">██████╔╝███████╗██║  ██║███████╗██╗██║███████║</a>
<a href="/">╚═════╝ ╚══════╝╚═╝  ╚═╝╚══════╝╚═╝╚═╝╚══════╝</a></pre>
	</div>

	<div class="pre-content">
	<ul class="navbar">
		<a href="/"{% if request.path == '/' or '/index' in request.path %} class="active"{% endif %}>Home</a>
		<a href="/blog"{% if '/blog' in request.path %} class="active"{% endif %}>Blog</a>
		<a href="/portfolio"{% if '/portfolio' in request.path %} class="active"{% endif %}>Portfolio</a>
		<a href="/about"{% if '/about' in request.path %} class="active"{% endif %}>About</a>
		{% if user.is_authenticated %}
		<div class="navdrop" style="float:right">
			<button class="dropbtn">{{user.username}}</button>
			<div class="navdrop-content">
				<a href="/account">Account</a>
				<a href="/logout">Logout</a>
			</div>
		</div>
		{%else %}
		<a style="float:right" href="/login"{% if '/login' in request.path %} class="active"{% endif %}>Login</a>
		{% endif %}
		<a style="float:right" href="https://photo.blaz.is">Photography</a>
	</ul> 

	<div class="content">

		{% block content %}
		{% endblock %}
	</div>
	</div>

	<div class="centered">
		<p>Made with clean code</p>
	</div>
</div>
